
<div class="wrapper">
  <div class="topleft"></div>
  <div class="coltitle mon">M</div>
  <div class="coltitle tue">T</div>
  <div class="coltitle wed">W</div>
  <div class="coltitle thu">T</div>
  <div class="coltitle fri">F</div>
  <div class="coltitle sat">S</div>
  <div class="coltitle sun">S</div>
  <div class="rowtitle wk1">wk1</div>
  <div class="day wk1 mon">OX</div>
  <div class="day wk1 tue">OX</div>
  <div class="day wk1 wed">OX</div>
  <div class="day wk1 thu">OX</div>
  <div class="day wk1 fri">OX</div>
  <div class="day wk1 sat">OX</div>
  <div class="day wk1 sun">OX</div>
  <div class="rowtitle wk2">wk2</div>
  <div class="day wk2 mon">OX</div>
  <div class="day wk2 tue">OX</div>
  <div class="day wk2 wed">OX</div>
  <div class="day wk2 thu">OX</div>
  <div class="day wk2 fri">OX</div>
  <div class="day wk2 sat">OX</div>
  <div class="day wk2 sun">OX</div>
  <div class="rowtitle wk3">wk3</div>
  <div class="day wk3 mon">OX</div>
  <div class="day wk3 tue">OX</div>
  <div class="day wk3 wed">OX</div>
  <div class="day wk3 thu">OX</div>
  <div class="day wk3 fri">OX</div>
  <div class="day wk3 sat">OX</div>
  <div class="day wk3 sun">OX</div>
  <div class="rowtitle wk4">wk4</div>
  <div class="day wk4 mon">OX</div>
  <div class="day wk4 tue">OX</div>
  <div class="day wk4 wed">OX</div>
  <div class="day wk4 thu">OX</div>
  <div class="day wk4 fri">OX</div>
  <div class="day wk4 sat">OX</div>
  <div class="day wk4 sun">OX</div>
  <div class="rowtitle wk5">wk5</div>
  <div class="day wk5 mon">OX</div>
  <div class="day wk5 tue">OX</div>
  <div class="day wk5 wed">OX</div>
  <div class="day wk5 thu">OX</div>
  <div class="day wk5 fri">OX</div>
  <div class="day wk5 sat">OX</div>
  <div class="day wk5 sun">OX</div>
</div>



<!-- table version
<table class="calendar">
  <thead class="weekdays">
    <td>&nbsp;</td>
    <td class="mon">M</td>
    <td class="tue">T</td>
    <td class="wed">W</td>
    <td class="thu">T</td>
    <td class="fri">F</td>
    <td class="sat">S</td>
    <td class="sun">S</td>
  </thead>
  <tr class="week1">
    <td>wk1</td>
    <td class="mon day">??</td>
    <td class="tue day">??</td>
    <td class="wed day">??</td>
    <td class="thu day">??</td>
    <td class="fri day">??</td>
    <td class="sat day">??</td>
    <td class="sun day">??</td>
  </tr>
  <tr class="week2">
    <td>wk2</td>
    <td class="mon day">??</td>
    <td class="tue day">??</td>
    <td class="wed day">??</td>
    <td class="thu day">??</td>
    <td class="fri day">??</td>
    <td class="sat day">??</td>
    <td class="sun day">??</td>
  </tr>
  <tr class="week3">
    <td>wk3</td>
    <td class="mon day">??</td>
    <td class="tue day">??</td>
    <td class="wed day">??</td>
    <td class="thu day">??</td>
    <td class="fri day">??</td>
    <td class="sat day">??</td>
    <td class="sun day">??</td>
  </tr>
  <tr class="week4">
    <td>wk4</td>
    <td class="mon day">??</td>
    <td class="tue day">??</td>
    <td class="wed day">??</td>
    <td class="thu day">??</td>
    <td class="fri day">??</td>
    <td class="sat day">??</td>
    <td class="sun day">??</td>
  </tr>
  <tr class="week5">
    <td>wk5</td>
    <td class="mon day">??</td>
    <td class="tue day">??</td>
    <td class="wed day">??</td>
    <td class="thu day">??</td>
    <td class="fri day">??</td>
    <td class="sat day">??</td>
    <td class="sun day">??</td>
  </tr>

</table>
-->
